#!/bin/bash
yum update -y
yum install httpd -y
systemctl start httpd
systemctl enable httpd
echo "<html><body><h1>Configuratulations you have deployed the EC2 using terraform gitlab and AWS </h1></body></html>" > /var/www/html/index.html
systemctl restart httpd